<html>
    <header>
        <title>
            What Score Will They Get?
        </title>
    </header>
    <body>
        <h1>
            What Score Will They Get?
        </h1>
        <p>
            {{ name }} scored {{ score }} runs with a {{shot}}
        </p>
        <h2>
            The last five players and their scores
        </h2>
        <p>
            {% for score in all_score %} 
            {{ score.score }}
            <br>
            {% endfor %}
        </p>
    </body>
</html>